.style-header {
    height: 100px;
    background-color: gray;
    background-image: linear-gradient(-90deg, white, powderblue);
}

.text-sty {
    color: gray;
    text-align: center;
    letter-spacing: 2px;
    padding: 30px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 7px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.head-table {
    background-color: powderblue;
}

.change-color:hover {
    background-color: #f5f5f5;
}

a:link, a:visited {
    background-color: powderblue;
    color: white;
    padding: 14px 25px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.input-login {
    width: 200px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

p {
    margin: 8px
}

.content {
    padding: 10px;
}

.input-sub[type=submit] {
    padding: 14px 25px;
    width: 200px;
    margin: 4px;
    background-color: powderblue;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.input-sub[type=submit]:hover {
    background-color: pink;
    color: white;
}

li {
    padding: 2px;
}

a:hover, a:active {
    background-color: #FFC0CB;
}

.center {
    position: center;
    text-align: center;
}

footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100px;
    background: white;
    background: linear-gradient(to right, white, powderblue);
}
