<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p th:text="'Cat say, ' + ${name} + '!'"></p>
<p th:text="'ege cat, ' +${int}"></p>

<p>Object: </p>
<p th:text="${cat.name}"></p>
<p th:text="${cat.age}"></p>

<p>List: </p>
<table>
    <tbody>
    <tr>
        <th>name</th>
        <th>age</th>
    </tr>

    <th:block th:each="eachCat : ${catsList}">
        <th:block th:if="${eachCat.age>3}">
            <tr style="background-color: paleturquoise">
                <td th:text="${eachCat.name}"></td>
                <td th:text="${eachCat.age}"></td>
            </tr>
        </th:block>

        <th:block th:if="${eachCat.age<=3}">
            <tr style="background-color: papayawhip">
                <td th:text="${eachCat.name}"></td>
                <td th:text="${eachCat.age}"></td>
            </tr>
        </th:block>
    </th:block>
    </tbody>
</table>

</body>
</html>