<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>

<div class="style-header">
    <h2 class="text-sty">Create user</h2>
</div>

<form method="post" th:action="@{/user}" th:object="${user}">
    <p>
        <input placeholder=" name" class="input-login" type="text" th:field="*{name}"/>
    </p>
    <p>
        <input placeholder=" login" class="input-login" type="text" th:field="*{login}"/>
    </p>
    <p>
        <input placeholder=" password" class="input-login" type="text" th:field="*{password}"/>
    </p>
    <p>
        <select class="drop-role" th:field="*{role}">
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
        </select>
    <p/>
    <p>
        <input class="input-sub" type="submit" value="add">
    </p>
</form>

<footer>
    <h2 class="text-sty">work hard or go home</h2>
</footer>

</body>
</html>