<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>

<div class="style-header">
    <h2 class="text-sty">Create user</h2>
</div>

<form method="post" th:action="@{/createUser}" th:object="${user}">
    <input type="text" th:field="*{name}"/>
    <input type="text" th:field="*{login}"/>
    <input type="text" th:field="*{password}"/>

    <select th:field="*{role}">
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
    </select>
    <input class="input-sub" type="submit" value="add">
</form>

<footer>
    <h2 class="text-sty">work hard or go home</h2>
</footer>

</body>
</html>