<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div class="style-header">
    <h2 class="text-sty">Spring mvc demo</h2>
</div>

<div class="center">
    <div class="menu">
        <ul style="list-style-type:none">
            <li><a href="/login">login</a></li>
            <li><a href="/registration">registration</a></li>
        </ul>
    </div>
</div>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>