<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<div class="style-header">
    <h2 class="text-sty">login</h2>
</div>

<div class="center">
    <form th:action="@{/login}" th:object="${loginDTO}" method="post">

        <p><input placeholder=" login"  class="input-login" type="text" th:field="*{login}"/></p>
        <p> <input placeholder=" password" class="input-login" type="password" th:field="*{password}"/></p>

        <input class="input-sub" type="submit" value="ok" name="ok"/>
    </form>

    <p th:if="${error}">invalid login or password</p>
</div>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>