<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-collapse="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>

<div th:replace="fragments/header.html :: header"></div>

<div class="style-header">
    <h2 class="text-sty">USERS</h2>
</div>
<table>
    <tr class="head-table">
        <th>id</th>
        <th>name</th>
        <th>login</th>
        <th>role</th>
    </tr>
    <tr class="change-color" th:each="user :${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <form th:action="@{/deleteUser}" method="post">
                <input type="hidden" th:value="${user.id}" name="id"/>
                <input type="submit" value="X" name="delete"/>
            </form>
            <form th:action="@{/editUserPage}" method="post">
                <input type="hidden" th:value="${user.id}" name="id"/>
                <input type="submit" value="edit" name="edit"/>
            </form>
        </td>
    </tr>

</table>

<a href="/createUser">createUser</a>

<footer>
    <h2 class="text-sty">work hard or go home</h2>
</footer>

</body>
</html>